<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)

  <br>

  <!-- {{}} untuk menulis sebuah variable  , tipe data otomatis-->
  <!-- Variable dan Logika ditulis atau di iniialisasi di file dengn format .ts -->
   <!-- didalam "" menandkaan teks , kalau engk dianggap variabel-->
  {{"contoh awal"}}

  <br><br>

  25+25 = {{25+25}}
</p>

<p>
  <!-- https://angular.io/guide/pipes -->
    {{item.nama}} - {{item.harga | currency:'Rp'}}
</p>


<!-- Array -->
<!-- let buah -- buah itu nama variabel yang diisi dengan variable bernama items -->
<div *ngFor = "let buah of items; let i=index">  <!-- *ng itu identitas untuk angular , For itu berarti loop nya, let itu kayak var di javascript , di htmlnnya pakai let , nanti di .ts pakai var bisa, pakai ; untuk membuat varibale lain  -->
 {{i+1}}. {{buah.nama}} - {{buah.harga | currency:'Rp'}} <!-- pakai variable buah karna sudadh di let -->
</div>

<br><br>

<!-- engk nge otomatis new line tapi nge loop divnya -->
<div *ngFor = "let data of itemArr"> <!-- ngFor wajib di dalam tag , tidak bisa diluar tag -->
 isi = {{data}}
</div>

<p *ngIf="show">
  Tampilkan isi
</p>

<p *ngIf="a != b">
  Tampilkan isi !- or ==
</p>

<p *ngIf="a && b">
  Tampilkan isi &&
</p>

<p *ngIf="a || b">
  Tampilkan isi ||
</p>

<p *ngIf="use">
  Tampilkan isi user
</p>

<p *ngIf="user.nama">
  nama user: {{user.nama}}
</p>

<!-- IF ELSE -->
<ng-template
*ngIf="show;then showBlock; else notShowBlock"> <!-- format variblenya;then variableBaru_untukThen; else variableBaru_untukElse -->
</ng-template>

<ng-template #showBlock>
  <p>ini show block</p>
</ng-template>

<ng-template #notShowBlock>
  <p>ini not show block</p>
</ng-template>


<!-- INPUT -->
<p>
  <input [(ngModel)]= "isi_a" type="text"/> *
  <input [(ngModel)]= "isi_b" type="text"/> = {{isi_a*isi_b}}
</p>

<button (click)="KlikButton()">Tekan</button>
{{Pesan}}

<!-- https://angular.io/guide/cheatsheet -->